<form [formGroup]="loginForm" class="form">
    <h1>Exhibit</h1>
    <mat-form-field>
        <mat-label for="username">Username</mat-label>
        <input matInput formControlName="username" type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label for="username">Password</mat-label>
        <input matInput formControlName="password" type="password">
    </mat-form-field>
    <button mat-button color="primary" routerLink="/register">Register</button>
    <button mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="login()">Login</button>
</form>