<div style="padding: 20px;">
    <div class="categories-container">
        <mat-accordion>
            <mat-expansion-panel hideToggle *ngFor="let category of catalog.categories">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ category.displayName }}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{ category.description }}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item *ngFor="let exhibit of category.exhibits">
                        <cart-item [item]="exhibit"></cart-item>
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
